.MainDiv{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
}
.DisplayDiv{
    height: 100px;
    width: 36%;
    padding: 2%;
    background-color: #dcdcdc;
}
.KeypadDiv{
    height: 100%;
    width: 40%;
    display: flex;
}