.MainDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
}
.WriteDiv{
height: 95%;
width: 38%;
padding: 1%;
display: flex;
flex-direction: column;
}
.Info{
    height: 50%;
    width: 100%;
    margin-top: 5%;
    font-size: 1em!important;
}
.Write{
    height: 20%;
    width: 98%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2f4f4f;
}
.DisplayDiv{
    height: 95%;
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #a9a9a9;
}
.InputDiv{
    margin-top: 2%;
    background: none;
    border: none;
    height: 100%;
    width: 40%;
}
.InputDiv input{
    height: 50%;
    background: none;
    padding: 2%;
    border: 1px solid Black;
    color: black;
}
.InputDiv input::placeholder{
    color: black;
    font-weight: bold;
}
.Button{
    border: 1px solid Black;
    height: 20%;
    width: 15%;
    text-align: center;
    padding: 1%;
    padding-bottom: 2%;
    margin-top: 5%;
}
.Row{
    height: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.Column{
    height: 100%;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    padding-top: 2%;
}
.List{
    border-top: 1px solid black;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.InnerDisplayDiv{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
}
.Column1{
    height: 100%;
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    padding-top: 2%;
}
.Button1{
    border: 1px solid Black;
    height: 20%;
    width: 15%;
    text-align: center;
    padding: 1%;
    padding-bottom: 2%;
    margin-top: 2%;
}