:root {
  --text-color: #71371E;
  --module-bg-color: #393446;
  --border-bottom-color:#71371E;
  --after-design-color: #71371E;
}

.App {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
input:read-only{
  color: #FE7801 !important;
}
/* .App-logo {
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
