.MainDiv{
    margin-top: 20%;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-items: center;
}
.DisplayDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    text-align: center;
    font-weight: 700;
    height: 25%;
}
.DisplayDiv p{
    text-align: center;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 2em;
}
.ButtonDiv{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-self: center;
}
.Button{
    padding: 5px;
    width: 5%;
    width: 120px;
    border: 1px solid black;
    justify-content: center center;
    align-self: center;
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
}