html{
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
}
body {
  margin: 0px;
  padding:0px;
  height:100%;
  width:100%;
  font-family:  "Interstate",sans-serif;

}
#root{
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
@media (min-width:1921px) {
  body, html {
      font-size: 19px !important;
  }
} 
@media (min-width: 1922px) and (max-width: 2300px) {
  body, html {
      font-size: 20px !important;
  }
} 
@media (min-width: 2301px) {
  body, html {
      font-size: 24px !important;
  }
} 
@media (min-width: 1620px) and (max-width: 1920px) {
  body, html {
      font-size: 17px !important;
  }
} 

@media (min-width: 1366px) and (max-width: 1620px) {
  body, html {
      font-size: 16px !important;
  }
} 
@media (min-width: 1250px) and (max-width: 1366px) {
  body, html {
      font-size: 14px !important;
  }
} 

@media (max-width: 1249px) {
  body, html {
      font-size: 14px !important;
  }
} 

@media (max-width: 650px) {
  body, html {
      font-size: 14px !important;
  }
} 

.textPassword {
  font-family: text-security-disc !important;
}
.textPasswordEmpty {
  font-family: Interstate !important;
}
.textPassword::placeholder {
  content: "Password";
  font-family: Interstate !important;
}
