*:focus {outline:none}
.MainDIv{
    width: 900px;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.WriteDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    height: 100px;
    padding: 1%;
    border-bottom: 1px solid Black;
}
.Row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    padding: 5px;
    justify-content: center;
}
.Row .DisplayDiv{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
.DisplayDiv{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 20%;
    padding: 5px;
    justify-content: center;
}
.InnerDisplayDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    padding: 5px;
    justify-content: center;
}
.InputDiv{
    padding: 5px;
    height: 80%;
    width: 45%;
    background-color: aquamarine;
    justify-content: center;
    margin-left: 5px;
}
.InputDiv input{
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1.5em;
}
.Button{
    padding: 5px;
    width: 5%;
    width: 50px;
    border: 1px solid black;
    justify-content: center center;
    align-self: center;
    cursor: pointer;
    text-align: center  ;
}
.Display{
    height: 100%;
    width: 45%;
    justify-content: center;
    background-color: aquamarine;
    margin-right: 5px;
    padding: 5px;
}
.Button1{
    padding: 5px;
    width: 5%;
    width: 50px;
    border: 1px solid black;
    justify-content: center center;
    align-self: center;
    cursor: pointer;
    text-align: center  ;
}